<html ng-app="notesApp">
<head><title>Notes App</title></head>
<body ng-controller="MainCtrl as ctrl">

  <form ng-submit="ctrl.submit()" name="myForm">
    <input type="text"
           ng-model="ctrl.user.username"
           required
           ng-minlength="4">
    <input type="password"
           ng-model="ctrl.user.password"
           required>
    <input type="submit"
           value="Submit"
           ng-disabled="myForm.$invalid">
  </form>

  <span>$invalid: {{myForm.$invalid}}</span></br>
  <span>$valid: {{myForm.$valid}}</span></br>
  <span>$pristine: {{myForm.$pristine}}</span></br>
  <span>$dirty: {{myForm.$dirty}}</span></br>
  <span>$error: {{myForm.$error}}</span></br>

<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js">
</script>
<script type="text/javascript">
  angular.module('notesApp', [])
    .controller('MainCtrl', [function() {
      var self = this;
      self.submit = function() {
        console.log('User clicked submit with ', myForm);
      };
    }]);
</script>
</body>
</html>
